.headerWrapper {
    height: 64px;
    width: 100%;
  }
  
  .header {
    position: fixed;
    top: 0;
  }
  
  .scrollWrapper {
    overflow: auto;
    height: 300px;
  }
  
  .scrollContent {
    min-height: 1000px;
  }
//   .top {
//     // background-image: url(../../assets/BACK.png);
//     // background-image: url(../../assets/product/BACK.png);
//   }
  
  .bottom {
    background: white ;
  }


body {
    font-family: soleil, sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.45em;
    background-color:whitesmoke;

}
.simple-banner-text{
    opacity: 1;
    background: #fff !important;
    // background-image: url(bg-web-banner.png) !important;
    background-position: center center;
    background-size: cover !important;
    background-repeat: no-repeat;
    padding: 1em;
    color: #0c233d !important;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 99999;
    position: relative;
    display: block;
}
 .align-middle{
    align-items: center;
} 
.simple-banner-text img{
    max-width: 270px;
    position: relative;
    height: auto;
}
.cont{
    font-weight: 600;
    font-size: 16px;
    position: relative;
    margin: 0 0px;
    display: block;
}
.link{
    font-weight: 600;
    color: tomato;
    text-decoration: none;
}
.link:hover{
    font-weight: 600;
    color: tomato;
    text-decoration:none;
}



.fixed-top{
position: fixed;
justify-content: center;
top: 0;
padding: 8px 30px;
background-color: rgba(255,255,255, 1);
box-shadow: 0 0 30px 0 rgb(145 174 203 / 30%);
}
.logo{
width: 100%;
max-width: 125px;
float: left;
margin-top: 4px;
position: relative;
right: 20px;
}
@media only screen and (max-width: 720px){
.logo {
    max-width: 100px;
height: auto;
position: relative;
right: 32px;
}
}

.navbar-light .navbar-nav .nav-link {
color: #333333;
font-size: 16px;
// font-weight: bold;
}


.navbar-light .navbar-nav .nav-link:hover{
font-size: 16px;
font-weight: bold;
color: tomato;

}
@media only screen and (max-width: 1024px){
.navbar-light .navbar-nav .nav-link {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
}
}
.demo{
font-size: 16px;
font-family: sans-serif;
color: #f67a71; 
border: 2px solid #f67a71;
border-radius: 4px;
text-decoration: none;
}
.next{
margin: 0 0 0 12px;
font-size: 16px;
color: #fff;
font-family: sans-serif;
background-color: #f67a71; 
border-radius: 100px;
// padding: 0 17px !important;
}


.header-cont{
top: 0;
justify-content: center;
padding: 8px 30px;
//  background-image: url(../../assets/BACK.png);
// box-shadow: 0 0 30px 0 rgb(145 174 203 / 30%);
background-size: cover;

}
.header-cont .navbar-nav .nav-link {
font-size: 16px;
font-weight:normal;
color: black;
 margin-right: 6px; 
}
.header-cont .navbar-nav .nav-link :hover{
font-size: 16px;
font-weight: bold;
color: #f67a71;
cursor: pointer; 
}

@media only screen and (max-width: 1024px){
.header-cont .navbar-nav .nav-link {
    // color: tomato;
    font-size: 11px;
    font-weight: normal;
}
}


.active{
     color: #f67a71 !important;
      //  border-bottom: 1px solid tomato;
  }
.head:hover{
    cursor: pointer !important;
    color: tomato!important;
}

.hovered {
  color: black !important;
  
}

.hovered:hover {
  cursor: pointer !important;
   color: tomato!important;
}
@media (max-width: 991px) {
  .show{
    height: 100vh !important;
    transition: height 1s;
  }
}

.isActive{
  color: tomato !important;
}

@media (max-width: 768px) {

  .navbar-light .navbar-nav .nav-link {
    color: #333333;
    font-size: 16px;
    // font-weight: bold;
    }
    
    
    .navbar-light .navbar-nav .nav-link:hover{
    font-size: 16px;
    font-weight: bold;
    color: tomato;
    
    }
    .fixed-top{
      position: fixed;
      justify-content: center;
      top: 0;
      padding: 8px 30px;
      background-color: rgba(255,255,255, 1);
      box-shadow: 0 0 30px 0 rgb(145 174 203 / 30%);
      }
      .header-cont{
        top: 0;
        justify-content: center;
        padding: 8px 30px;
        //  background-image: url(../../assets/BACK.png);
        // box-shadow: 0 0 30px 0 rgb(145 174 203 / 30%);
        background-size: cover;
        background: #fff !important;
        
        }
        .header-cont .navbar-nav .nav-link {
        font-size: 16px;
        font-weight:normal;
        color: white;
         margin-right: 6px; 
        }
        .header-cont .navbar-nav .nav-link :hover{
        font-size: 16px;
        font-weight: bold;
        color: tomato;
        cursor: pointer; 
        }
        
}

@media (max-width: 768px) {
  .header-cont .navbar-nav .nav-link {
    font-size: 16px;
    font-weight:normal;
    color: black;
     margin-right: 6px; 
    }
    .header-cont .navbar-nav .nav-link :hover{
    font-size: 16px;
    font-weight: bold;
    color: tomato;
    cursor: pointer; 
    }

}
.top{
    color:blue;
}
